@import 'colors';

$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 15px;
$font-size-xs: 13px;

$border: 1px solid $gray-3;
$border-radius: 5px;
$border-radius-s: 3px;

$transition: .2s all;
$transition-longer: .3s all;
